{% extends 'base.html' %}

{% block head %}

  <!-- for Google Maps API -->
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <link rel="stylesheet" href="static/css/map.css"></style>
  <title> Corporate Location </title>

{% endblock %}


{% block content %}
  <div class="padding" id="padding"></br></br></br></br></br></div>

  <div id='map'></div>
  <ul id="company-list"></ul>

  <!-- for Google Maps API -->
  <script src="static/js/map.js"></script>

  <!-- if you decide to hardcode your api_key change the Jinja part with the key-->
  <!-- route('/map') passed global variable api_key into HTML - Jinja parses it as text -->

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFGHze_U0BhQWbzg_nsH38nLzsfnEvxhQ&callback=initMap" defer></script>

{% endblock %}