{% extends 'base.html' %}

{% block head %}


  <link rel="stylesheet" href="https://cdn.rawgit.com/FortAwesome/Font-Awesome/master/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../static/lib/org_chart/css/jquery.orgchart.css">


{% endblock %}

{% block content %}

  <div class="padding" id="padding"></br></br></br></br></br></div>

  <h3>Organizational Chart</h3></br>

  Company Name:
  <select name='company' id='company'>
    {% for company in companies %}
      <option value='{{ company }}'>
        {{ company }}
      </option>
    {% endfor %}
  </select>

  <div id="chart-container"></div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="/static/lib/org_chart/js/jquery.orgchart.js"></script>


  <script>

      var datasource = {{ structure | safe }}

      $('#chart-container').orgchart({
        'data' : datasource,
        'nodeContent': 'title',
        // 'direction': 'l2r',
        'pan': true,
        // 'zoom': true,
        'verticalDepth': 3, // From the 3th level of orgchart, nodes will be aligned vertically.
        'depth': 4
      });

  </script>

  <style>
  
    .orgchart .top-level .title {
    background-color: #006699;
    }
    .orgchart .top-level .content {
      border-color: #006699;
    }
    .orgchart .middle-level .title {
      background-color: #009933;
    }
    .orgchart .middle-level .content {
      border-color: #009933;
    }
    .orgchart .bottom-level .title {
      background-color: #993366;
    }
    .orgchart .bottom-level .content {
      border-color: #993366;
    }

  </style>


{% endblock %}