{% extends 'base.html' %}

{% block head %}


  <link rel="stylesheet" href="https://cdn.rawgit.com/FortAwesome/Font-Awesome/master/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/lib/org_chart/css/jquery.orgchart.css">



{% endblock %}

{% block content %}

  <label>org chart</label>

<!--   <select name='company' id='company'>
    <option></option>
    {% for company in companies %}
      <option value='{{ company }}'>
        {{ company }}
      </option>
    {% endfor %}
  </select> -->

  <div id="chart-container"></div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="/static/lib/org_chart/js/jquery.orgchart.js"></script>


  <script>
      var datasource = structure;
      var datasource_1 = {
        'name': 'Lao Lao',
        'title': 'general manager',
        'children': [
          { 'name': 'Bo Miao', 'title': 'department manager' },
          { 'name': 'Su Miao', 'title': 'department manager',
            'children': [
              { 'name': 'Tie Hua', 'title': 'senior engineer' },
              { 'name': 'Hei Hei', 'title': 'senior engineer' }
            ]
          },
          { 'name': 'Hong Miao', 'title': 'department manager' },
          { 'name': 'Chun Miao', 'title': 'department manager' }
        ]
      };

      // separate companies into menu, and see only one structure at a time

      $('#chart-container').orgchart({
        'data' : datasource,
        'nodeContent': 'title',
        // 'direction': 'l2r',
        'pan': true,
        'zoom': true,
        'verticalDepth': 3, // From the 3th level of orgchart, nodes will be aligned vertically.
        'depth': 4
      });

  </script>




{% endblock %}