{% extends 'base.html' %}


{% block head %}
{% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
<script src="./../../static/lib/chartjs/src/chart.js"></script>

<canvas id="numEmployeePerCompany" width="100" height="100"></canvas>
<canvas id="myChart2" width="100" height="100"></canvas>

<script>
  var ctx = document.getElementById("numEmployeePerCompany");
  var numEmployeePerCompany = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: {{ labels | safe }},
          datasets: [{
              label: '# of employees per company',
              data: {{ data | safe }},
              backgroundColor: {{ background | safe }},
              borderColor: {{ border | safe }},
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
            }
          }
        });

  var ctx = document.getElementById("myChart2").getContext('2d');
  var myChart2 = new Chart(ctx, {
    type: 'polarArea',
    data: {
      labels: ["Senior Manager", "Manager", "Admin", "Other", "Outsource", "Assistant", "Board Member"],
      datasets: [{
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(255, 206, 186, 0.2)'
        ],
        data: [10, 19, 20, 17, 28, 24, 7]
      }]
    }
  });


</script>

{% endblock %}



<!-- 

Usage

// Using CommonJS
var Chart = require('chart.js')
var myChart = new Chart({...})

// ES6
import Chart from 'chart.js'
let myChart = new Chart({...})

// Using requirejs
require(['path/to/Chartjs'], function(Chart){
 var myChart = new Chart({...})
}) 

Creating a chart

// Any of the following formats may be used
var ctx = document.getElementById("myChart");
var ctx = document.getElementById("myChart").getContext("2d");
var ctx = $("#myChart");
var ctx = "myChart";

-->