{% extends 'base.html' %}

{% block head %} 
  <title> {{ employee_info.first_name }} {{ employee_info.last_name }} </title>
{% endblock %}

{% block content %}

  <section id="portfolio">
    <div class="container">
      <ul>
        </br>

        <img src = "/static/img/employee_info_photo/{{employee_info.photo_url}}" onerror="if (this.src != 'error.jpg') this.src = '/static/img/employee_info_photo/1.jpg';"></img>
        </br>
        </br>

        <div class="container">
          <div class="row">
            <div class="col-sm-6 portfolio-item" id="personal-info">
              <li id="personal-info-title">Employee ID:</li>
              <ul>
                <li id="info-content">Name: {{ employee_info.first_name }} {{ employee_info.last_name }}</li>
                <li id="info-content">Middle Name: {{ employee_info.mid_name }}</li>
                <li id="info-content">Korean Name: {{ employee_info.k_name }}</li>
                <li id="info-content">Kanji Name: {{ employee_info.kanji_name }}</li>
                <li id="info-content">Birthday: {{ employee_info.birthday }}</li>
              </ul>
            </div>

          <div class="col-sm-6 portfolio-item" id="personal-info">
            <li id="personal-info-title">Company info: </li>
            <ul>
              <li id="info-content">Company: {{ employee_info.company_name }} (
              {% if employee_info.short_name %}
                  {{employee_info.short_name}}
              {% endif %})
              </li>
              <li id="info-content">Department: {{ employee_info.department_name }}</li>
              <li id="info-content">Title: {{ employee_info.title }} 
                  {% if employee_info.k_title %}
                      ({{ employee_info.k_title }})
                  {% endif %}
              </li>
              <li id="info-content">Office email: {{ employee_info.office_email }}</li>
              <li id="info-content">Office phone: {{ employee_info.office_phone }}</li>
            </ul>
          </div>

          <div class="col-sm-6 portfolio-item" id="personal-info">
            <li id="personal-info-title">Personal contact:</li>
            <ul>
              <li id="info-content">Address: {{ employee_info.address }}</li> 
              <li id="info-content">City: {{ employee_info.city }}, {{ employee_info.state }}</li>
              <li id="info-content">Country : {{ employee_info.country }}</li>
              <li id="info-content">Postal Code: {{ employee_info.postal_code }}</li>
              <li id="info-content">Personal Email: {{ employee_info.personal_email }}</li>
              <li id="info-content">Mobile: {{ employee_info.country_code }}-{{ employee_info.mobile }}</li>
              <li id="info-content">Phone: {{ employee_info.country_code }}-{{ employee_info.phone }}</li>
            </ul>
          </div>

          <div class="col-sm-6 portfolio-item" id="personal-info">
            <li id="personal-info-title">Emergency Contact:</li>
            <ul>
              <li id="info-content">Name: {{ employee_info.emergency_name }}</li>
              <li id="info-content">Number: {{ employee_info.emergency_phone }}</li>
            </ul>
            </br>
            <li id="personal-info-title">Admin status: {{ employee_info.admin }}</li>
          </div>

        </div>
      </div>
      </ul>
    </div>
  </section>

{% endblock %}