{% extends 'base.html' %}

{% block head %} 
  <title> {{ employee_info.first_name }} {{ employee_info.last_name }} </title>
{% endblock %}

{% block content %}

  <ul>
    </br>

    <img src = "/static/img/employee_info_photo/{{employee_info.photo_url}}" onerror="if (this.src != 'error.jpg') this.src = '/static/img/employee_info_photo/1.jpg';"></img>
    </br>
    {% for key, value in employee_info.iteritems() %}

        {% if value != None %}
            <li>{{ key }} : {{ value }}</li>
        {% endif %}
    
    {% endfor %}

<!--         
        Employee ID:
        Name:
        Korean Name:
        Postal Code:
        Address Line1: 
        Address Line2: 
        City: 
        Kanji Name:
        Name (Other):
        Personal Email:
        State : 

        Emergency Contact:
        Name:
        Number:

        Birthday : 
        Nickname : 
        Photo_url : 
        Mobile : 
        Country : 
        Admin : 
        Middle Name :  -->

  </ul>

{% endblock %}