{% extends 'company/add_department.html' %}

{% block head %} 
  <title> Add offices </title>
{% endblock %}

{% block office %}

  <div id='add_office' id='add_office'>
    <h3>Add office</h3>
    <form action='/add_office' method='POST'>
      * fields are required.</br> 
      </br>

        office name: <input type='text' name='office_name' id='office_name' placeholder='office name'></br>
        <!-- TODO: check database to see if the abbreviation exists -->

      </br></br>
      <input type='submit'>
    </form>
  </div>

{% endblock %}