{% extends 'base.html' %}
{% block title %}Admin menu{% endblock %}

{% block content %}

  <h1> your_company_name Employee Roster</h1>

  <div id='user'>
    <h2>Offices</h2>
    <p><a href="/map">Corporate map</a></p>
  </div>

  <div id='logged_index'></div>


  <div id='employee'>
    <h2>Employees</h2>
    <p><a href="/employee/all">Employee data</a></p>
  </div>


  <div id='admin'>
    <h2>Employee Add</h2>
    <p><a href="/user/add">Add employee</a></p>

    <h2>Organizational Chart</h2>
    <p><a href="/company/all">Company data</a></p>

    <h2>Analysis</h2>
    <p><a href="/map">Charts</a></p>

  </div>


{% endblock %} 