<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Mobile friendly Bootstrap -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- Minified CSS Bootstrap-->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

    <!-- Latest D3 -->
    <script type="text/javascript" src="https://d3js.org/d3.v4.js"></script>
    <!-- Minified D3 -->
    <!-- <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script> -->

    <!-- jQuery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- JavaScript -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/project.css">
 
    {% block head %}{% endblock %}

  </head>

  <body>
    <h1>HB Employee Roster</h1>
    {% if session.get('logged_in') %}
        <form action="/logout" method="POST">
            <button type="submit" value="Logout">Logout</button>
        </form>
    {% else %}
      <h2>Log in here: </h2>
        <form action="/login" method="POST">
          <input type="text" name="username" placeholder="Username">
          <!-- The characters in a password field are masked 
          (shown as asterisks or circles). -->
          <input type="password" name="password" placeholder="Password">
          <button type="submit" value="Login" id="login">Login</button>
        </form>
    {% endif %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

  {% block content %}{% endblock %}

    <!-- Necessary code for bootstrap -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
</html>