{% extends 'base.html' %}
{% block content %}

  <ul>
    {% for key, value in employee_info.iteritems() %}
        {% if value != None %}
            <li>{{ key }} : {{ value }}</li>
        {% endif %}

<!--         
        Employee ID:
        Name:
        Korean Name:
        Postal Code:
        Address Line1: 
        Address Line2: 
        City: 
        Kanji Name:
        Name (Other):
        Personal Email:
        State : 

        Emergency Contact:
        Name:
        Number:

        Birthday : 
        Nickname : 
        Photo_url : 
        Mobile : 
        Country : 
        Admin : 
        Middle Name :  -->
    {% endfor %}


  </ul>

{% endblock %}