{% extends 'base.html' %}
{% block content %}

    <div id='employee_search'>
      <h3>Employee Search</h3>
      <form id='search'>
        <!-- TODO: make the names of company and department come from DB -->
        <!-- TODO: make disable select value to be possible to be selected for null -->
        <select name='company' id='company'>
          <option value=''> -- select -- </option>
          <option value='SeAH Steel America'>SSA</option>
          <option value='State Pipe'>State Pipe</option>
          <option value='WestCoast Pipe'>WestCoast</option>
          <option value='PanMeridian Tubular'>PanMeridian</option>
          <option value='Global Steel'>Global Steel</option>
        </select>

        <select name='department' id='department'>
          <option disabled selected value> -- select -- </option>
          <option value='C_level'>C Level</option>
          <option value='Sales'>Sales</option>
          <option value='Accounting'>Accounting</option>
          <option value='HR'>HR</option>
          <option value='IT'>IT</option>
          <option value='Marketing'>Marketing</option>
          <option value='Others'>Others</option>
        </select>
        <input type='text' name='first-name' id='first-name' placeholder="First Name">
        <input type='text' name='last-name' id='last-name' placeholder="Last Name">
        <input type='submit'> 
      </form>
    </div>

    <div id="active_search_result">
      <ul>
        {% for employee in employees %}
            <li>
              <a href = '/employee/{{ employee.employee_id }}'>
                {{ employee.first_name }} {{ employee.last_name }} 
              </a>
            </li>
        {% endfor %}
      </ul>
    </div>


    <script src="/static/js/employee_list.js" type="text/javascript"></script>


{% endblock %}