{% extends 'base.html' %}
{% block content %}

  <ul>
    <!-- TODO: have the field with no input be hidden -->
    <li>Photo: {{ employee_info.photo_url }}</li>
    <li>Name: {{ employee_info.first_name }} {{ employee_info.last_name }}</li>
    <li>Korean name: {{ employee_info.k_name }}</li>
    <li>Employee ID: {{ employee_info.employee_id }}</li>
    <li>Birthday: {{ employee_info.birthday }}</li>
    <li>Work email: {{ employee_company_info.office_email }}</li>
    <li>Personal email: {{ employee_info.personal_email }}</li>
  </ul>

  

{% endblock %}