{% extends 'base.html' %}

{% block head %} 
  <title> Organza Home </title>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <link rel="stylesheet" href="static/css/map.css"></style>
{% endblock %}

{% block content %}
  <!-- Header -->
  <header>
    <div class="container" id="maincontent" tabindex="-1">
      <div class="row">
        <div class="col-lg-12">
          <p>
            </br>
            <img class="img-responsive" src="./static/lib/bootstrap/img/profile.png" alt="">
            <div class="intro-text">
              <h2 class="name">Welcome to Organza</h2>
              <hr class="star-light">
              <span class="skills">The fabric that holds your organization together</span></div></br>
              <span> a global company employee directory </span>
            </div>
          </p>
        </div>
      </div>
    </div>
  </header>

  <!-- for Google Maps API -->
  <div id='map'></div>

  <!-- for Google Maps API -->
  <script src="static/js/map.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFGHze_U0BhQWbzg_nsH38nLzsfnEvxhQ&callback=initMap" defer></script>

{% endblock %} 