{% extends 'base.html' %}

{% block head %} 
  <title> Employee Roster Home </title>
{% endblock %}

{% block content %}

  <h3> Employee Roster</h3>
  </br>
  <label>Offices</label>
  <p><a href="/map">Corporate map</a></p>
  </br>
  <label>Employees</label>
  <p><a href="/employee/all">Employee data</a></p>
  </br>
  <label>Employee Add</label>
  <p><a href="/employee/add">Add employee</a></p>
  </br>
<!--   <label>Employee Edit or Delete</label>
  <p><a href="/employee/edit">Change employee info</a></p>
  </br> -->
<!--   <label>Upload Employee data using Excel</label>
  <p><a href="/employee_excel">Change employee info</a></p>  
  </br> -->
  <label>Add company/department/title/office info</label>
  <p><a href="/company/add">Change company info</a></p>  
  </br>
  <label>Organizational Chart</label>
  <p><a href="/company/all">Company data</a></p>
  </br>
  <label>Company statistics</label>
  <p><a href="/statistics">Statistics on employees</a></p>

{% endblock %} 