{% extends 'base.html' %}

{% block head %} 
  <title> Organza Home </title>
{% endblock %}

{% block content %}
  <!-- Header -->
  <header>
    <div class="container" id="maincontent" tabindex="-1">
      <div class="row">
        <div class="col-lg-12">
          <p>
            </br>
            <img class="img-responsive" src="./static/img/icon/mainpage.png" alt="">
            <div class="intro-text">
              <span><h2 class="name">Welcome to Organza</h2></span></br>
              <span> a global company employee directory </span></br>
              </br>
              <span><h3 class="skills">The fabric that holds your organization together</h3></span>
            </div>
          </p>
        </div>
      </div>
    </div>
  </header>

{% include 'footer.html' %}
{% endblock %} 